@import '~/assets/main.css';

body {
  font-size: var(--font-size-sm);
  overflow-x: hidden;
  width: 460px;

  select,
  input,
  .btn {
    /* font-size: var(--font-size-xs); */
  }

  input [type='number'] {
    height: 20px;
    padding: 0 1px 0 6px;
    width: 40px;
  }
}

/* Light theme */
@media (prefers-color-scheme: light) {
}
