@import "@/assets/main.css";

body {
  font-size: .8rem;
  overflow-x: hidden;
  width: 380px;

  select, input, .btn {
    /* font-size: .75rem; */
  }

  input [type="number"] {
    height: 20px;
    padding: 0 1px 0 6px;
    width: 40px;
  }
}


/* Light theme */
@media (prefers-color-scheme: light) {
}
