#head {
  border-bottom: 1px solid var(--dark-blue);
  padding: 10px 15px 10px;

  #Version {
    color: var(--dark-blue);
    float: right;
    font-size: 10px;
    margin-top: -5px;
  }

  #profile {
    text-align: center;

    select {
      height: 24px;
      margin-left: 5px;
      width: 125px;
    }
  }
}

#summary {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 5px 0 5px;

  #QueuePause {
    cursor: pointer;
    line-height: 21px;

    .icon {
      color: var(--blue);
      font-size: 12px;
      margin: -3px 0 0 0;

      .fa-play {
        left: 1px;
        top: 1px;
      }

      .fa-pause {
        left: 0;
        top: 0;
      }
    }
  }
}

#controls {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3px 0 10px;

  & > div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    & > :first-child {
      margin-bottom: 3px;
    }
  }

  #OverrideCategory {
    width: 125px;
  }

  #MaxSpeed {
    text-align: right;
    width: 65px;
  }
}

#queue {
  background: var(--darker);
  padding: 0;
  max-height: 300px;
  min-height: 25px;
  overflow-y: auto;
  overflow-x: hidden;

  .empty {
    font-size: 12px;
    font-style: italic;
    margin-top: 3px;
    text-align: center;
  }

  .nzb {
    align-items: center;
    border-bottom: 1px solid var(--dark-blue);
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    height: 25px;
    position: relative;
    width: 100%;

    &:first-child {
      border-top: 1px solid var(--dark-blue);
    }

    span {
      display: block;
      flex: 0 0 auto;
      order: 1;
      text-align: left;
      width: 65px;
      z-index: 100;
    }

    .name {
      flex-grow: 1;
      margin-left: 5px;
    }

    .size {
      margin-right: 5px;
      text-align: right;
    }

    .bar {
      background: var(--middle-dark);
      background: var(--color-bar-gradient);
      height: 100%;
      position: absolute;
      z-index: 0;
    }
  }
}

#debug {
  display: none;
  background: #333;
  color: #eee;
  font-family: monospace;
  font-size: 11px;
  line-height: 13px;
  max-height: 220px;
  min-height: 120px;
  overflow: scroll;
  padding: 5px;
  white-space: nowrap;

  &.show {
    display: block;
  }
  &.pre {
    white-space: pre-wrap;
  }

  .green {
    color: #6e6;
  }
}

#menu {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 10px 0;

  .btn {
    flex-grow: 0;
    height: 25px;
    line-height: 18px;
    width: 90px;

    .fa {
      font-size: 18px;
    }
  }
}

/* Light theme */
@media (prefers-color-scheme: light) {
  #queue {
    background: var(--light);
    color: var(--darker);

    .bar {
      background: var(--light-blue);
      background: var(--color-bar-gradient);
    }
  }
}