@import '@/assets/main.css';

body {
  font-size: var(--font-size-sm);
  overflow-x: hidden;
  width: 460px;
}

input,
select,
button {
  height: 2rem;
}

input[type='number'] {
  padding: 0 0 0 0.5em;
}

#head {
  border-bottom: 1px solid var(--highlight);
  padding: 10px 0;

  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;

  #Refreshing {
    color: var(--highlight);
    font-size: var(--font-size-sm);
    position: absolute;
    top: 5px;
    left: 10px;
  }

  #Version {
    color: var(--highlight);
    font-size: var(--font-size-xs);
    position: absolute;
    top: 5px;
    right: 10px;
  }

  #profile {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5em;
    margin-right: 10px;
  }
}

#summary {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 10px 0;

  > span {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.35em;

    svg {
      height: 2em;
      width: 2em;
    }
  }
}

#controls {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3px 0 10px;

  & > div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    & > :first-child {
      margin-bottom: 3px;
    }
  }

  #OverrideCategory {
    width: 125px;
  }

  #MaxSpeed {
    width: 65px;
  }
}

#queue {
  background: var(--color-background-alt);
  font-size: var(--font-size-sm);
  padding: 0;
  max-height: 300px;
  min-height: 25px;
  overflow-y: auto;
  overflow-x: hidden;

  .empty {
    font-style: italic;
    margin-top: 3px;
    text-align: center;
  }

  .nzb {
    border-bottom: 1px solid var(--highlight);
    position: relative;
    width: 100%;
    height: 1.75em;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    &:first-child {
      border-top: 1px solid var(--highlight);
    }

    span {
      text-align: left;
      flex: 0 1 auto;
      order: 1;
      display: flex;
      align-items: center;
      gap: 0.25em;
      z-index: 100;
    }

    .name {
      flex-grow: 1;
      margin-left: 5px;
    }

    .size {
      margin-right: 5px;
      text-align: right;
    }

    .nzb-actions {
      > svg {
        cursor: pointer;

        &:hover {
          fill: var(--color-active);
        }
      }
    }

    .bar {
      background: var(--color-bar-gradient);
      height: 100%;
      position: absolute;
      z-index: 10;
    }
  }
}

#debug {
  display: none;
  background: #333;
  color: #eee;
  font-family: monospace;
  font-size: var(--font-size-xs);
  line-height: var(--font-size-sm);
  max-height: 220px;
  min-height: 120px;
  overflow: scroll;
  padding: 5px;
  white-space: nowrap;

  &.show {
    display: block;
  }
  &.pre {
    white-space: pre-wrap;
  }

  .green {
    color: #6e6;
  }
}

#menu {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 15px 0 5px;

  button {
    flex-grow: 0;
    height: 2.5rem;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
}

/* Light theme */
@media (prefers-color-scheme: light) {
  #queue {
    background: var(--light);
    color: var(--darker);

    .bar {
      background: var(--light-blue);
      background: var(--color-bar-gradient);
    }
  }
}
