@import '@/assets/main.css';
@import '@/assets/tooltip.css';

/* Options Page Styles */

:root {
  --tooltip-width: 400px;
  --tooltip-left: 10px;
}

body {
  padding: 0.5rem;
}

section {
  background: var(--color-background-alt);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  margin: 0 auto 1rem;
  padding: 1rem;

  > h1,
  > h2 {
    margin-top: 0;
  }
}

h1 {
  font-size: var(--font-size-xl);
  text-align: center;
}

h2 {
  font-size: var(--font-size-lg);
  margin: 35px 0 17px;
}

#Version {
  font-size: var(--font-size-md);
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Downloaders section */

#downloader-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem;
  width: 100%;

  > div {
    flex: 3;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;

    > * {
      flex: 0;
    }

    > :first-child {
      flex: 1;
    }
  }

  > div:first-child {
    flex: 1;
    border-right: 1px solid var(--highlight);
  }
}

#downloader-settings {
  div:not(.actions) {
    display: flex;
    flex-direction: row nowrap;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;

    label {
      flex: 0 0 5.25rem;
    }

    input {
      flex: 1;
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* Light theme */
@media (prefers-color-scheme: light) {
}
