@import '@/assets/main.css';
@import '@/assets/tooltip.css';

/* Options Page Styles */

:root {
  --tooltip-width: 400px;
  --tooltip-left: 10px;
}

body {
  padding: 0.5em;
}

section {
  background: var(--darker);
  border: 1px solid black;
  border-radius: 6px;
  margin: 0 auto 1em;
  padding: 1em;

  > h1,
  > h2 {
    margin-top: 0;
  }
}

h1 {
  font-size: var(--font-size-xl);
  text-align: center;
}

h2 {
  font-size: var(--font-size-lg);
  margin: 35px 0 17px;
}

.custom-select.form-control-sm {
  padding-top: 0.2rem;
}

.tooltiplol {
  /* TODO */
  left: -65px !important;

  .tooltip-inner {
    max-width: 450px;

    p {
      margin: 0.75em 1em;
      text-align: left;
    }
    br {
      margin-bottom: 0.25em;
    }
  }
}

#Version {
  font-size: var(--font-size-md);
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* Light theme */
@media (prefers-color-scheme: light) {
}
