@import '~/assets/main.css';
@import '~/assets/tooltip.css';

/* Options Page Styles */

:root {
  --tooltip-width: 400px;
  --tooltip-left: 10px;
}

body {
  padding: 0.5rem;
}

#root {
  max-width: 768px;
  margin: 0 auto;
}

section {
  background: var(--color-background-alt);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  margin: 0 auto 1rem;
  padding: 1rem;

  > h1,
  > h2 {
    margin-top: 0;
  }
}

h1 {
  font-size: var(--font-size-xl);
  text-align: center;
}

h2 {
  font-size: var(--font-size-lg);
  margin: 35px 0 17px;
}

label:has(> input[type='checkbox']) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0.5rem 0;
  width: fit-content;
}

section > div:has(> label + input),
section > div:has(> label + select) {
  display: flex;
  flex-direction: row nowrap;
  justify-content: left;
  align-items: center;
  gap: 0.75rem;
  margin: 0.5rem 0;

  > * {
    flex: 0;
  }

  label {
    text-wrap: nowrap;
  }
}

section > label:has(> input[type='checkbox']),
section > div:has(label + input),
section > div:has(label + select) {
  margin: 1rem 0;
}

.collapsible {
  overflow: hidden;

  > h2 {
    cursor: pointer;
    margin: 0;
  }

  > h2:after {
    content: '▲';
    float: right;
    font-size: var(--font-size-sm);
  }

  &.collapsed > h2:after {
    content: '▼';
  }

  .collapsible-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 50em;
  }

  &.collapsed .collapsible-content {
    max-height: 0;
  }
}

#Version {
  font-size: var(--font-size-md);
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Downloaders section */

#downloader-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  width: 100%;

  > div {
    flex: 3;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    justify-content: start;
  }

  > div:first-child {
    flex: 1;
    border-right: 1px solid var(--highlight);
  }

  #downloader-list {
    justify-content: space-between;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      gap: 0rem;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;

        &:hover,
        &.active {
          background: var(--color-input-background);
        }

        svg {
          fill: var(--color-active);
        }
      }
    }
  }

  #downloader-settings {
    .form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: center;
        gap: 0.5rem;

        label {
          flex: 0 0 5.25rem;
        }

        input {
          flex: 1;
        }
      }

      input.error {
        border-color: var(--color-error);
      }
    }

    .errors {
      color: var(--color-error);
      font-size: var(--font-size-xs);
      margin-top: 0.5rem;
    }
  }
}

#indexer-container {
  ul {
    list-style-type: none;
    margin: 0 0 1rem;
    padding: 0;

    display: flex;
    flex-direction: column;

    li {
      padding: 0;

      label {
        margin: 0;
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* Light theme */
@media (prefers-color-scheme: light) {
}
