$fa-font-path: "../fonts";
@import "./font-awesome/font-awesome.scss";

.flex-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.tooltip {
  .tooltip-inner {
    background: #222;
    font-size: .85em;
    max-width: 250px;
    padding: 5px 8px;
    // width: 250px;
  }
}

// Options Page Styles
body#options {
  background: rgb(66, 79, 90);
  font-size: .9rem;

  .custom-select.form-control-sm {
    padding-top: .2rem;
  }

  & > .container {
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.8);
    padding-bottom: 40px;
    padding-top: 10px;
  }

  h1 {
    color: white;
    font-family: serif;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
  }

  h2 {
    font-family: serif;
    font-size: 1.3rem;
    margin: 35px 0 17px;
  }

  h3 {
    border-top: 1px solid #AAA;
    font-size: .9rem;
    font-weight: bold;
    margin: 25px 0 17px;
    padding-top: 7px;
    padding-left: 15px;
    width: 100%;
  }

  #FormSettings {

    .explanation {
      font-size: .85em;
    }

    .custom-select {
      width: 100%;
    }

    .options-pane {
      margin-left: 10px;
    }

    #profile-controls {
      margin: 15px auto 25px;

      .btn-sm {
        padding-top: .1rem;
      }
    }

    #profile-container {
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 0;
      padding: 15px 5px;
    }

    label[for="ProfileCurrent"] {
      margin: .5rem 15px 0 0;
    }

    #profileTest {
      margin: 10px auto 0;
      padding-bottom: 5px;
    }

    #profileTest-result {
      margin-top: 5px;
    }

    #provider-enabled-container {
      margin-bottom: .7em;
    }
  }
}

@media (min-width: 576px) {
  body#options {
    & > .container {
      padding-left: 40px;
    }

    #FormSettings {
      .options-pane {
        margin-left: 20px;
      }

      #profile-container {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}

@media (min-width: 768px) {
  body#options {
    & > .container {
      padding-left: 60px;
    }

    #FormSettings {
      .options-pane {
        margin-left: 40px;
      }

      #profile-controls {
        margin-top: 4px;
      }

      #profile-container {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }
}

// Popup Styles
body#popup {
  $dark: #222;
  $darker: darken($dark, 15%);
  $light: #ddd;
  $blue: #17a2b8;
  $dark-blue: darken($blue, 15%);

  background: $dark;
  color: $light;
  overflow-x: hidden;
  width: 360px;

  select, input, .btn {
    font-size: 12px;
    height: 20px;
    line-height: 12px;
    padding: 2px 6px;
  }

  input {
    border: none;
    border-radius: 2px;

    &[type="number"] {
      height: 18px;
      padding: 0 0 0 6px;
      width: 40px;
    }
  }

  .custom-select {
    padding: 0px 22px 0px 1px;
  }

  #head {
    border-bottom: 1px solid $dark-blue;
    padding: 10px 15px 5px;

    #profile {
      text-align: center;

      select {
        margin-left: 5px;
        width: 125px;
      }
    }
  }

  #summary {
    @extend .flex-row;
    padding: 5px 0;

    #QueuePause {
      cursor: pointer;
      line-height: 19px;

      .icon {
        background: white;
        border-radius: 100px;
        color: $blue;
        font-size: 20px;
        margin-right: 0.25em;
      }
    }
  }

  #controls {
    @extend .flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
  }

  #queue {
    background: $darker;
    padding: 0;

    .nzb {
      align-items: center;
      border-bottom: 1px solid $dark-blue;
      display: flex;
      flex-flow: row nowrap;
      height: 25px;
      position: relative;
      width: 100%;

      &:first-child {
        border-top: 1px solid $dark-blue;
      }

      &:nth-child(odd) {
      }

      span {
        display: block;
        flex: 0 0 auto;
        order: 1;
        text-align: left;
        width: 62px;
        z-index: 100;
      }

      .name {
        flex-grow: 1;
        margin-left: 5px;
      }

      .category {
      }

      .size {
        margin-right: 5px;
        text-align: right;
      }

      .bar {
        background: #3a3a3a;
        background: linear-gradient(to left, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%);
        height: 100%;
        position: absolute;
        z-index: 0;
      }
    }
  }

  #menu {
    @extend .flex-row;
    margin: 10px 0;

    .btn {
      flex-grow: 0;
      height: 25px;
      line-height: 18px;
      width: 90px;

      .fa {
        font-size: 18px;
      }
    }
  }
}
