$fa-font-path: "../fonts";
@import "./font-awesome/font-awesome.scss";

// Options Page Styles
body#options {
  background: rgb(66, 79, 90);
  font-size: .9rem;

  & > .container {
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.8);
    padding-bottom: 40px;
    padding-top: 10px;
  }

  h1 {
    color: white;
    font-family: serif;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
  }

  h2 {
    font-family: serif;
    font-size: 1.3rem;
    margin: 35px 0 17px;
  }

  h3 {
    border-top: 1px solid #AAA;
    font-size: .9rem;
    font-weight: bold;
    margin: 25px 0 17px;
    padding-top: 7px;
    padding-left: 15px;
    width: 100%;
  }

  #FormSettings {

    .custom-select {
      width: 100%;
    }

    .options-pane {
      margin-left: 10px;
    }

    #profile-controls {
      margin: 15px auto 25px;
    }

    #profile-container {
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 0;
      padding: 15px 5px;
    }

    label[for="ProfileCurrent"] {
      margin: .5rem 15px 0 0;
    }

    #profileTest {
      margin: 10px auto 0;
    }

    #profileTest-result {
      margin-top: 5px;
    }

    #provider-enabled-container {
      margin-bottom: .7em;
    }
  }
}

// Popup Styles
body#popup {
  padding: 10px;
}


@media (min-width: 576px) {
  body#options {
    & > .container {
      padding-left: 40px;
    }

    #FormSettings {
      .options-pane {
        margin-left: 20px;
      }

      #profile-container {
        padding-left: 25px;
      }
    }
  }
}

@media (min-width: 768px) {
  body#options {
    & > .container {
      padding-left: 60px;
    }

    #FormSettings {
      .options-pane {
        margin-left: 40px;
      }

      #profile-controls {
        margin-top: 3px;
      }

      #profile-container {
        margin-left: 25px;
      }
    }
  }
}