:root {
  /* Catppuccin Themes */
  /* Mocha */
  --mocha-rosewater: #f5e0dc;
  --mocha-flamingo: #f2cdcd;
  --mocha-pink: #f5c2e7;
  --mocha-mauve: #cba6f7;
  --mocha-red: #f38ba8;
  --mocha-maroon: #eba0ac;
  --mocha-peach: #fab387;
  --mocha-yellow: #f9e2af;
  --mocha-green: #a6e3a1;
  --mocha-teal: #94e2d5;
  --mocha-sky: #89dceb;
  --mocha-sapphire: #74c7ec;
  --mocha-blue: #89b4fa;
  --mocha-lavender: #b4befe;
  --mocha-text: #cdd6f4;
  --mocha-subtext1: #bac2de;
  --mocha-subtext0: #a6adc8;
  --mocha-overlay2: #9399b2;
  --mocha-overlay1: #7f849c;
  --mocha-overlay0: #6c7086;
  --mocha-surface2: #585b70;
  --mocha-surface1: #45475a;
  --mocha-surface0: #313244;
  --mocha-base: #1e1e2e;
  --mocha-mantle: #181825;
  --mocha-crust: #11111b;
  /* Latte */
  --latte-rosewater: #dc8a78;
  --latte-flamingo: #dd7878;
  --latte-pink: #ea76cb;
  --latte-mauve: #8839ef;
  --latte-red: #d20f39;
  --latte-maroon: #e64553;
  --latte-peach: #fe640b;
  --latte-yellow: #df8e1d;
  --latte-green: #40a02b;
  --latte-teal: #179299;
  --latte-sky: #04a5e5;
  --latte-sapphire: #209fb5;
  --latte-blue: #1e66f5;
  --latte-lavender: #7287fd;
  --latte-text: #4c4f69;
  --latte-subtext1: #5c5f77;
  --latte-subtext0: #6c6f85;
  --latte-overlay2: #7c7f93;
  --latte-overlay1: #8c8fa1;
  --latte-overlay0: #9ca0b0;
  --latte-surface2: #acb0be;
  --latte-surface1: #bcc0cc;
  --latte-surface0: #ccd0da;
  --latte-base: #eff1f5;
  --latte-mantle: #e6e9ef;
  --latte-crust: #dce0e8;
}

:root {
  /* Default Dark (Mocha) */
  --rosewater: var(--mocha-rosewater);
  --flamingo: var(--mocha-flamingo);
  --pink: var(--mocha-pink);
  --mauve: var(--mocha-mauve);
  --red: var(--mocha-red);
  --maroon: var(--mocha-maroon);
  --peach: var(--mocha-peach);
  --yellow: var(--mocha-yellow);
  --green: var(--mocha-green);
  --teal: var(--mocha-teal);
  --sky: var(--mocha-sky);
  --sapphire: var(--mocha-sapphire);
  --blue: var(--mocha-blue);
  --lavender: var(--mocha-lavender);
  --text: var(--mocha-text);
  --subtext1: var(--mocha-subtext1);
  --subtext0: var(--mocha-subtext0);
  --overlay2: var(--mocha-overlay2);
  --overlay1: var(--mocha-overlay1);
  --overlay0: var(--mocha-overlay0);
  --surface2: var(--mocha-surface2);
  --surface1: var(--mocha-surface1);
  --surface0: var(--mocha-surface0);
  --base: var(--mocha-base);
  --mantle: var(--mocha-mantle);
  --crust: var(--mocha-crust);

  --inverted-text: var(--crust);
  --selection-color: var(--mauve);
  --highlight: var(--blue);
  --highlight-alt: var(--mauve);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Default Light (Latte) */
    --rosewater: var(--latte-rosewater);
    --flamingo: var(--latte-flamingo);
    --pink: var(--latte-pink);
    --mauve: var(--latte-mauve);
    --red: var(--latte-red);
    --maroon: var(--latte-maroon);
    --peach: var(--latte-peach);
    --yellow: var(--latte-yellow);
    --green: var(--latte-green);
    --teal: var(--latte-teal);
    --sky: var(--latte-sky);
    --sapphire: var(--latte-sapphire);
    --blue: var(--latte-blue);
    --lavender: var(--latte-lavender);
    --text: var(--latte-text);
    --subtext1: var(--latte-subtext1);
    --subtext0: var(--latte-subtext0);
    --overlay2: var(--latte-overlay2);
    --overlay1: var(--latte-overlay1);
    --overlay0: var(--latte-overlay0);
    --surface2: var(--latte-surface2);
    --surface1: var(--latte-surface1);
    --surface0: var(--latte-surface0);
    --base: var(--latte-base);
    --mantle: var(--latte-mantle);
    --crust: var(--latte-crust);

    --inverted-text: var(--base);
    --selection-color: var(--blue);
  }
}

.highlight-rosewater {
  --highlight: var(--rosewater);
}
.highlight-flamingo {
  --highlight: var(--flamingo);
}
.highlight-pink {
  --highlight: var(--pink);
}
.highlight-mauve {
  --highlight: var(--mauve);
}
.highlight-red {
  --highlight: var(--red);
}
.highlight-maroon {
  --highlight: var(--maroon);
}
.highlight-peach {
  --highlight: var(--peach);
}
.highlight-yellow {
  --highlight: var(--yellow);
}
.highlight-green {
  --highlight: var(--green);
}
.highlight-teal {
  --highlight: var(--teal);
}
.highlight-sky {
  --highlight: var(--sky);
}
.highlight-sapphire {
  --highlight: var(--sapphire);
}
.highlight-blue {
  --highlight: var(--blue);
}
.highlight-lavender {
  --highlight: var(--lavender);
}
