:root {
  /* Copied from catppuccin theme */
  --mocha-text: #cdd6f4;
  --mocha-base: #1e1e2e;
  --mocha-blue: #89b4fa;
  --mocha-flamingo: #f2cdcd;
  --mocha-overlay1: #7f849c;
  --mocha-green: #a6e3a1;
  --mocha-red: #f38ba8;
  --latte-text: #4c4f69;
  --latte-base: #eff1f5;
  --latte-blue: #1e66f5;

  --nzb-base: var(--mocha-base);
  --nzb-highlight: var(--mocha-blue);
  --nzb-normal: var(--mocha-blue);
  --nzb-active: var(--mocha-flamingo);
  --nzb-pending: var(--mocha-overlay1);
  --nzb-success: var(--mocha-green);
  --nzb-error: var(--mocha-red);

  --nzb-text: var(--mocha-text);
  --nzb-button-base: var(--nzb-normal);
  --nzb-button-text: rgba(0, 0, 0, 0.7);

  --icon-nzb-green: url(~/assets/images/nzb-16-green.png);
  --icon-nzb-grey: url(~/assets/images/nzb-16-grey.png);
  --icon-nzb-orange: url(~/assets/images/nzb-16-orange.png);
  --icon-nzb-red: url(~/assets/images/nzb-16-red.png);
}

.NZBUnityLight {
  --nzb-text: var(--latte-text);
  --nzb-highlight: var(--latte-blue);
}

.NZBUnityIcon {
  display: inline-block;
  /* Don't set color here, just the image */
  background-image: var(--icon-nzb-green);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

.NZBUnityLink {
  color: var(--nzb-text);
  background: transparent var(--icon-nzb-green) no-repeat scroll left center;

  padding: 0 0 0 16px;
  height: 16px;
  width: auto;

  cursor: pointer;
  display: inline-block;

  &:not(:empty) {
    padding-left: 20px;
  }

  &:hover,
  &:active {
    --nzb-text: var(--nzb-highlight);
  }

  &.pending,
  &.disabled,
  &:disabled {
    --nzb-text: var(--nzb-pending);
    background-image: var(--icon-nzb-grey);
  }

  &.success {
    --nzb-text: var(--nzb-success);
    background-image: var(--icon-nzb-green);
  }

  &.error {
    --nzb-text: var(--nzb-error);
    background-image: var(--icon-nzb-red);
  }
}

.NZBUnityButton {
  color: var(--nzb-button-text);
  background: var(--nzb-button-base) var(--icon-nzb-green) no-repeat scroll 6px center;
  border: 1px solid var(--nzb-button-text);
  border-radius: 4px;

  margin: 0 6px 0 0;
  padding: 10px;
  padding-left: 26px;

  cursor: pointer;
  display: inline-block;

  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1em;

  &:hover,
  &:active {
    /* --nzb-button-base: var(--nzb-active); */
    --nzb-button-base: var(--nzb-base);
    --nzb-button-text: var(--nzb-active);
  }

  &.pending,
  &.disabled,
  &:disabled {
    --nzb-button-base: var(--nzb-pending);
    background-image: var(--icon-nzb-grey);
  }

  &.success {
    --nzb-button-base: var(--nzb-success);
    background-image: var(--icon-nzb-green);
  }
  &.error {
    --nzb-button-base: var(--nzb-error);
    background-image: var(--icon-nzb-red);
  }
}

.NZBUnityToast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  height: auto;
  width: auto;
  max-width: 300px;
  padding: 12px;
  padding-left: 36px;

  font-size: 18px;

  color: var(--nzb-text);
  background: rgb(from var(--nzb-base) r g b / 0.9) var(--icon-nzb-green) no-repeat scroll
    12px center;
  border: 1px solid var(--nzb-text);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
