@import '@/assets/catppuccin.css';

:root {
  --color-text: var(--text);
  --color-background: var(--base);
  --color-background-alt: var(--mantle);
  --color-border: var(--crust);

  --color-input: var(--subtext1);
  --color-input-background: var(--crust);
  --color-input-border: var(--highlight);

  --highlight-more: hsl(from var(--highlight) h s calc(l * 1.15) / 1);
  --highlight-less: hsl(from var(--highlight) h s calc(l * 0.85) / 1);

  --color-active: var(--flamingo);
  --color-active-background: var(--crust);
  --color-active-border: var(--rosewater);

  --color-error: var(--red);

  --color-bar: var(--highlight-alt);
  --color-bar-gradient: linear-gradient(
    to right,
    var(--color-background-alt) 0%,
    rgb(from var(--color-bar) r g b / 0.2) 70%,
    rgb(from var(--color-bar) r g b / 0.4) 100%
  );

  --color-icon: currentColor;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  --font-size-base: 16px;
  --font-size-xxs: 0.7rem;
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;

  &.right {
    justify-content: right;
  }
}

html {
  font-size: var(--font-size-base) !important;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size-md);
}

svg {
  fill: var(--color-icon);
}

input,
select,
button,
.btn {
  background: var(--color-input-background);
  color: var(--color-input);
  border: 1px solid var(--color-input-border);
  border-radius: 3px;

  font-size: var(--font-size-md);
  height: 1.75em;
  line-height: 1em;
  padding: 0.25em 0.5em;

  &.active {
    background: var(--color-active-background);
    border-color: var(--color-active-border);
    color: var(--color-active);
  }

  &[disabled] {
    background: var(--color-input-background);
    border-color: var(--overlay1);
    color: var(--overlay1);
    cursor: not-allowed;
  }
}

button,
.btn {
  cursor: pointer;
  color: var(--highlight-more);

  display: flex;
  align-items: center;
  flex-direction: row nowrap;
  gap: 0.3em;
  padding: 0.25em 0.6em;

  &:hover:not([disabled]) {
    background: var(--color-active-background);
    border-color: var(--color-active-border);
    color: var(--color-active);
  }

  &.sm {
    font-size: var(--font-size-sm);
  }

  &.success {
    color: var(--green);
  }

  &.fail,
  &.error {
    color: var(--red);
  }

  &.warn {
    color: var(--yellow);
  }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  :root {
    --color-bar-gradient-from: var(--blue);
    --color-bar-gradient-to: var(--light-blue);
  }

  body {
    background: var(--lighter);
    color: var(--dark);

    input {
      background: white;
      color: var(--darker);
    }
  }
}
