@import 'react-tooltip/dist/react-tooltip.css';

/* Tooltip container */
:root {
  --tooltip-background: rgb(from var(--crust) r g b / 0.9);
  --tooltip-color: var(--rosewater);
  --tooltip-border-color: var(--flamingo);
  --tooltip-padding: 10px;
  --tooltip-width: 250px;
  --tooltip-left: calc(50% - (var(--tooltip-width) / 2));
  --tooltip-font-size: var(--font-size-sm);
  --tooltip-arrow-size: 8px;
}

#tooltip {
  /* Rather than use var customizations, we're just going to do the styling here */
  background: var(--tooltip-background);
  border: 1px solid var(--tooltip-border-color);
  border-radius: 6px;
  box-sizing: content-box;
  padding: var(--tooltip-padding);
  min-width: var(--tooltip-width);
  max-width: 80%;
  width: auto;

  color: var(--tooltip-color);
  font-size: var(--tooltip-font-size);
  text-align: center;

  p {
    margin: 0.5em 0.25em;
    text-align: left;
  }
  br {
    margin-bottom: 0.25em;
  }

  .react-tooltip-arrow {
    background: transparent;
    border: var(--tooltip-arrow-size) solid transparent;
    border-top-color: var(--tooltip-border-color);
    height: var(--tooltip-arrow-size);
    width: var(--tooltip-arrow-size);
    transform: rotate(0deg);
  }

  &.react-tooltip__place-top .react-tooltip-arrow {
    /* Override element dynamic positioning */
    bottom: calc(var(--tooltip-arrow-size) * -2) !important;
  }

  &.react-tooltip__place-bottom .react-tooltip-arrow {
    transform: rotate(180deg);
    /* Override element dynamic positioning */
    top: calc(var(--tooltip-arrow-size) * -2) !important;
  }
}
